div{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
  font-family:arial, sans-serif;
  font-weight:lighter;
}
.h1{
  font-size:50px;
  font-weight:100;
  text-align:center;
  margin:25px;
}
.h2{
  font-size:20px;
  background-color:#D3E8EB;
  border-radius:50%;
  padding:20px;
  margin:10px;
  text-align:center;
}
.h3{
  font-size:17px;
  background-color:#E3E3CC;
  padding:5px;
  margin:10px;
}
.h4{
  font-size:14px;
  background-color:#E1E8E7;
  padding:5px;
  margin:10px;
}
.description{
  font-size:14px;
  color:#4E5251;
  margin:15px;
}
.parent{
  display:flex;
}
.childdescription{
  font-size:14px;
  color:#4E5251;
  margin-top:100px;
  margin-left:10px;
  margin-right:10px;
  vertical-align:middle;
  max-width:25%;
}
.image{
  margin:10px;
  max-width:50%;
}
.list{
  margin-left:20px;
}